body {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  margin: 12px;
  border: 2px solid rgb(128, 0, 100);
  padding: 4px;
  background-color: rgb(243, 236, 245);
  text-align: center;
  
}


.projects {
  margin: 12px;
  border: 2px;
  padding: 4px;
  text-align: center;
}

.sidebar {
  float:left;
  width: 300px;
  margin: 12px;
}