h1 {
  color: rgb(0, 0, 0);
}
.my-class {
  margin: 12px;
  border: 2px solid rgb(128, 0, 100);
  padding: 4px;
  background-color: rgb(243, 236, 245);
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
